<div class="container search-complex">
  <div class="row">
    <div class="col-sm-2"><img src="src/images/logo.jpg" alt=""/></div>
    <div class="col-sm-8 search-wrap">
      <form action="">
        <input type="text" [(ngModel)]='keyWords' name="keyWords" placeholder="输入关键词搜索" class="form-control search-input"/>
        <input type="submit" value="搜索" class="search-btn">
      </form>
    </div>
    <div class="col-sm-2">
      <div class="qr_code"><img src="src/images/qr_code.png" alt=""></div>
    </div>
  </div>
</div>