.header-wrap{
    height: 34px;
    padding: 0 15px;
    background-color: #f4f4f4;   
}

.header{
    position: relative;
}

.header ul li{
    display: inline-block;
    line-height: 2.5;
}

.header .right-nav{
    position: absolute;
    right: 0;
    top:0;
}

.search-complex{
    margin-top: 1rem;
    min-width: 1000px;
}
.search-wrap{
    width:750px;
    .search-input{
        float: left;
        width: 500px;
        font-size: 12px;
    }
    .search-btn{
        float: left;
        width: 120px;
    }
}