/* You can add global styles to this file, and also import other style files */
@import 'variables'; 
@import '../node_modules/bootstrap/scss/bootstrap';

body{
    font-size: 12px;
}

a{
    color: $grey;
    &:hover{
        color: $theme;
    }
}

ul,li{
    margin: 0;
    padding:0;
}

.container-fluid{
    padding: 0;
}